

.user-head{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:10px ;
    height:auto ;
    width:auto

}
.user-head .head-nav{
   
    display:flex ;
    justify-content:space-around;
}
.user-head .site{
    font-family: 'Montserrat', cursive;
    padding:0rem ;
    margin:0rem ;
    color: rgba(0, 161, 206, 1)

}
.user-head ul{
    list-style: none;
    justify-content: center;
    align-items: center;
   
}
.user-head ul li{
    list-style: none;
    font-size:1em ;
    padding:.5rem;
}
.user-head ul li a{
    text-decoration: none;
    color:inherit ;
}
.head-na ul  .profile{
    display:flex ;
    justify-content: space-around;
    align-items:center ;
   
   
}
.head-nav ul .profile img{
    height:100% ;
    margin:0 .5rem ;
    width:10vh;
    border-radius:5vh;
    background-image: linear-gradient(rgba(0, 124, 206, 0.251),rgba(2, 216, 30, 0.288));
}


.hi{
  background-color:#f7dece8a ;
  height:100% ;
  min-height:100vh ;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;

}
.modal-backdrop{
    z-index:-1!important ;
}
.modal .fade{
    z-index: 100!important ;
}
.new_scroll::-webkit-scrollbar {
    width: 1em;
  }

  .modal-dialog{
      width:75vw ;
  }
 
  
.new_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
.new_scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .place{
      background-color:#ccab9793;
  }


  @media (max-width:672px){
      .modal-dialog{
          width:90vw ;
      }
  }

  @media (max-width:400px){
    .modal-dialog{
        width:100vw ;
    }
}


.profile_pic{
    width:100px ;
    height:100px ;
}