

.user-head{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:10px 0px ;
    height:auto ;
    width:auto ;
    font-family: Roboto ,'sans-serif' !important ;

}
.headera{
    padding-top:1rem ;
}
.headera h3{
    font-family: 'Alegreya', serif;
    font-size: 2.09rem;
    font-weight: 400;
}

.user-head .head-nav{
   
    display:flex ;
    justify-content:space-around;
}
.user-head .site{
    font-family: Roboto,Arial, Helvetica, sans-serif !important;
    padding:0rem ;
    margin:0rem ;
    color: rgba(0, 161, 206, 1)

}
.user-head ul{
    list-style: none;
    justify-content: center;
    align-items: center;
   
}
.user-head ul li{
    list-style: none;
    font-size:1em ;
    padding:.5rem;
}
.user-head ul li a{
    text-decoration: none;
    color:inherit ;
}
.head-na ul  .profile{
    display:flex ;
    justify-content: space-around;
    align-items:center ;
   
   
}
.head-nav ul .profile img{
    height:100% ;
    margin:0 .5rem ;
    width:10vh;
    border-radius:5vh;
    background-image: linear-gradient(rgba(0, 124, 206, 0.251),rgba(2, 216, 30, 0.288));
}


.hi{
  background-color:#ffeef2 ;
  height:100% ;
  min-height:100vh ;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;

}
.usernav {
    background-color:#7c6c77 !important ;
}
.modal-backdrop{
    z-index:-1!important ;
}
.modal .fade{
    z-index: 100!important ;
}
.modal .fade .modal-dialog{
    -webkit-transform: inherit!important;
}
.new_scoll{
    overflow-x: hidden;
    scrollbar-width: .1em;
}
.new_scroll::-webkit-scrollbar {
    width: .1em;
    overflow-x: hidden;
  }

  .modal-dialog{
      width:75vw ;
  }
 
  
.new_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(112, 20, 20, 0.3);
  }
.new_scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0px solid rgb(104, 163, 223);
  }
  body::-webkit-scrollbar {
    
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:#dd7d93;
    outline: 1px solid slategrey;
  }
  .place{
      background-color:#bff;
      font-size: 16px !important;
  }


  @media (max-width:672px){
      .modal-dialog{
          width:90vw ;
      }
      .headera h3{
          font-size: 1.5rem;
      }
      .headera{
          padding-top:.8rem;
      }
  }

  @media (max-width:400px){
    .modal-dialog{
        width:100vw ;
    }
}


.profile_pic{
    width:100px ;
    height:100px ;
}

.modal {
    overflow-y: scroll !important ;
}