*{
  padding : 0px ;
  margin : 0px ;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300 !important;
  font-size: 20px !important;
  overflow-x:hidden;

 
}

code {
  font-family: monospace, Menlo, Monaco, Consolas, 'Courier New';
}

.container-fluid{
  padding: 0px;
  margin:0px;
}